/* about container top of text */
#center-header-section-text {
	color: rgb(0, 0, 0);
	text-align: center;
	margin-bottom: 3%;
	margin-top: 8%;
}
/* profile picture */
#about-image {
	max-width: 100%;
	border: 3px solid #25e0b6;
	border-radius: 10px;
}
/* About text */
#aboutMe-text {
	color: rgb(0, 0, 0);
	font-size: 22px;
}
/* unordered list display */
ul li {
	display: inline;
}
/* unordered list img */
ul li img {
	height: 35px;
	margin-left: 30px;
}
/* img icons margins */
#icons-imgs {
	margin-top: 90px;
	margin-bottom: 90px;
}
/* skills background */
#skills-block {
	background-color: #f9f9f9;
	margin-top: 5%;
	padding-top: 3%;
	padding-bottom: 8%;
}
/* about me container padding for scroll */
#about-me-container {
	padding-top: 20px;
}
/* skills text */
#skills-text {
	text-align: center;
	margin-bottom: 3%;
}
/* media query */
@media screen and (max-width: 1024px) {
	#aboutMe-text {
		margin-left: 5%;
	}
}
@media screen and (min-width: 1300px) {
	#about-image {
		height: 330px;
	}
}
