/* About Me Section */
.fab.fa-github-square.fa-3x {
	color: rgb(0, 0, 0);
	padding-right: 1%;
}
.fab.fa-linkedin.fa-3x {
	color: rgb(0, 0, 0);
	padding-right: 1%;
}
.fas.fa-envelope.fa-3x {
	color: rgb(0, 0, 0);
	padding-right: 1%;
}
#center-header-section-text {
	color: rgb(0, 0, 0);
	text-align: center;
	margin-bottom: 3%;
	margin-top: 5%;
}
#about-image {
	height: 330px;
	margin-left: 28%;
}
#aboutMe-text {
	color: rgb(0, 0, 0);
	font-size: 22px;
}
#resume {
	font-size: 25px;
	color: rgb(0, 0, 0);
	padding-bottom: 5%;
}
#scrumMaster {
	width: 10%;
	padding-bottom: 5%;
}
