#margin-space {
	margin-top: 9%;
}
#third-wave-img {
	height: 450px;
	border: 3px solid #02101a;
	border-radius: 10px;
}
#button-skills {
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    margin-left: 2%;
    margin-top: 2%;
	border-radius: 20px;
	background: rgb(15, 72, 73);
	background: linear-gradient(
		167deg,
		rgb(129, 230, 231) 1%,
		rgba(36, 217, 177, 1) 43%,
		rgba(37, 224, 182, 1) 100%
	);
	border: none;
}
#button-skills:hover {
    -webkit-box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.3);
}
#title-of-page {
	font-family: 'Roboto', sans-serif;
	color: #02101a;
	font-weight: bold;
	margin-bottom: 4%;
}
#gray-bkgd {
	padding: 20px;
	padding-bottom: 70px;
	padding-left: 40px;
	padding-right: 40px;
	background-color: #f9f9f9;
}
#info-on-project {
	margin-top: 8%;
	font-family: 'Open Sans', sans-serif;
	color: #02101a;
	font-size: 16px;
}
#button-links {
	font-weight: bold;
	color: rgba(37, 224, 182, 1);
	font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    margin-left: 18%;
    margin-top: 2%;
	border-radius: 5px;
	background: #f9f9f9 ;
	border: 2px solid rgba(37, 224, 182, 1) ;
}
#button-links:hover {
	color: #02101a;
	border: 2px solid #02101a ;
}