#nav-bar {
    position: sticky;
    z-index: 1;
    top: 0;
    display: flow-root;
    background-color: #02101a;
	box-shadow: 0 7px 20px 0 rgba(0, 0, 0, 0.2), 0 4px 10px 0 rgba(0, 0, 0, 0.2);
}
#float-div {
	padding-top: 15px;
	margin-right: 20px;
    float: right;
}
a {
	color: #ffffff;
	text-decoration: none;
}
nav div ul {
	list-style-type: none;
}
nav div ul li {
	display: inline-block;
	margin-left: 25px;
}
