#nav-bar {position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-width: 20rem;
    z-index: 999;
    background-color: #02101a;
    text-align: center;
    box-shadow: 0 7px 20px 0 rgba(0,0,0,0.2), 0 4px 10px 0 rgba(0,0,0,0.2);
}