#nav-bar {
	position: sticky;
	z-index: 1;
	top: 0;
	display: flow-root;
	padding-top: 0;
	padding-bottom: 0;
	background-color: #02101a;
	box-shadow: 0 7px 20px 0 rgba(0, 0, 0, 0.2), 0 4px 10px 0 rgba(0, 0, 0, 0.2);
}
#float-div {
	padding-top: 15px;
	margin-right: 20px;
	float: right;
}
a {
	color: #ffffff;
	text-decoration: none;
}
a:hover {
	color: #ffffff;
	text-decoration: underline;
}
nav div ul {
	list-style-type: none;
}
nav div ul li {
	display: inline-block;
	margin-left: 25px;
}
#btn-resume {
    border-color: #25e0b6;
    color: #25e0b6;
}
#btn-resume:hover {
    background-color:#02101a;
    border-color: #ffffff;
	color: #ffffff;

}
#emeraldLogo {
	vertical-align: middle;
	border-radius: 50%;
	margin-top: 5px;
	-webkit-transition: -webkit-transform 0.7s ease-in-out;
	transition: transform 0.7s ease-in-out;
}
#emeraldLogo:hover {
	-webkit-transform: rotate(100deg);
	transform: rotate(100deg);
	filter: drop-shadow(3px 3px 3px rgb(20, 104, 45));
}